*{
    padding: 0px;
    margin: 0px;
    font-family: open sans-serif;
}
body{
    background-image: url(/images/backcover.svg); 
    background-repeat: no-repeat;
    background-position:  100%;
   }
.main-div{
  
  
  }
    
  nav{
   
 display: flex;
   justify-content: space-between;
 margin-top: 25px;
 margin-left: 100px;
    } 
  .nav-items{
 
    margin-left: 140px;
   
      display: flex;
}
.nav-item{
    color:#414a96;
    font-size:large;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 20px;
}
.signin-btn{
    background-image: linear-gradient(to right, rgb(118, 105, 233) , #e15ff2);
  margin-right: 100px;
    border-radius: 20px;
    height: 40px;
    width: 120px;
}
.imgs-div{
  display: flex;
  position: absolute;
  margin-left: 650px;
 

}
.vector-img{
    
    position: absolute;
    margin-top: 600px;
}
.vector-dot{
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 600px;
}
.intro-section{
display: flex;
}
.left-section{
 
    display: flex;
    display: inline;
    margin-top: 150px;
     margin-right: 900px;
    
    
   
}
.left-section h1{
     
    font-size: 100px;
    color:#414a96 ;
    margin-left: 100px;
   
    
}
.left-section h4{
    font-weight: 400;
    font-size: 20px;
    margin-top:100px;
    margin-left: 150px;
    margin-right: 100px;
}
.learn-more-btn{
background-image: linear-gradient(to right, rgb(86, 70, 236) , #de90e9);
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 150px;
    height: 60px;
    width: 230px;
}
